.root
  align-items center
  width 100%

.text
  text-align center
  font-weight 300
  font(l)
  margin-top 4u
  color #636363
  max-width 80u

  +desktop()
    font-size 20px
    line-height 30px

.actions
  width 100%
  align-items center
  justify-content center

  +tablet()
    flex-direction row
    margin-top 6u

.getStarted
  margin-top 4u
  background-color #8cc9f0
  border none

  +tablet()
    margin-top 0

.learn
  margin-top 2u

  +tablet()
    margin-top 0
    margin-left 2u
  