.root
  align-items center
  text-align center
  border-bottom-color #dddddd
  border-bottom-style solid
  border-bottom-width 1px
  padding 6u 3u
  width 100%

  +desktop()
    padding 6u 8u
  
  +wide()
    padding 12u 12u 7u
  