.root
  align-items center
  width 100%

.description
.text
  text-align center
  font-weight 300
  font(l)
  margin-top 4u
  color #636363

.description
  max-width 80u

  +desktop()
    font-size 20px

  +wide()
    line-height 36px

.text
  text-align justify
  font-weight 300

  +tablet()
    margin-top 6u
    font-size 16px
    line-height 30px

  +desktop()
    column-count 2
    column-gap 5u

  +wide()
    font-size 18px

.cards
  width 100%
  align-items center
  margin-top 4u

  +tablet()
    margin-top 6u
    padding 0
    flex-direction row
    width 100%
    height 21u

  +wide()
    height 23u

.card
  width 100%
  align-items center
  justify-content center
  padding 3u

  &.first
    border-top-left-radius 1u
    border-top-right-radius 1u

    +tablet()
      border-bottom-left-radius 1u
      border-top-right-radius 0

  &.last
    border-bottom-left-radius 1u
    border-bottom-right-radius 1u

    +tablet()
      border-bottom-left-radius 0
      border-top-right-radius 1u

  +tablet()
    height 100%
    width auto
    flex-grow 1

.icon
  color #fff
  width 60px
  height @width

  +tablet()
    width 44px
    height @width 

  +wide()
    width 60px
    height @width 
  
.cardTitle
  color #fff
  font(xxxl)
  font-weight 300

  +tablet()
    font(xxl)

.cardText
  color #fff

  +desktop()
    font-size 16px

  +wide()
    font-size 18px

.btn
  margin-top 4u
