.root
  text-align center
  justify-content center
  align-items center
  width 100%
  max-width auto
  min-width 100%
  border 1px solid #dddddd 
  border-radius 1u
  align-self center
  height 5u

  +tablet()
    max-width 18u
    min-width 0
  
  +wide()
    height 6u
    max-width 21u
    width 21u

.text
  color #636363
  font-weight 300
  
  +desktop()
    font-size 16px
  
  +wide()
    font-size 18px

