.root
  text-align center
  width 100%
  margin-top 4u
  flex-direction row

.social
  radius(circle)
  border 1px solid rgba(255, 255, 255, 0.35)
  padding 1u
  margin-left 2u

  &.first
    margin-left 0

.icon
  color #fff
  width 20px
  height @width

  +wide()
    width 3u
    height @width
