$descriptionColor = rgba(255, 255, 255, 0.65)

.root
  align-items center

  +wide()
    padding 14u 12u 10u

.logo
  width 85px
  height 85px
  background-color #fff
  align-items center
  justify-content center
  radius(circle)

.title
  margin-top 3u
  font-size 5u
  line-height 5u
  font-weight 300
  color #fff
  letter-spacing -.6px

  +wide()
    font-size 7u
    line-height 7u

.wrapper
  margin-top 2u
  width 100%
  max-width 40u

  +wide()
    max-width 55u

.description
  color $descriptionColor
  line-height 3u
  font-weight 300
  text-align center

  +wide()
    font-size 20px
    line-height 30px
  
.link
  color $descriptionColor
  text-decoration-color $descriptionColor
  text-decoration-style dotted
  text-decoration-line underline