$textColor = #636363

.root
  align-items center

.cards
  margin-top 3u

  +tablet()
    flex-direction row
    flex-wrap wrap
    justify-content center

  +desktop()
    flex-wrap nowrap

.imageWrapper
  radius(circle)
  border 1px solid #dddddd
  padding 1u

.image
  width 16u
  height @width
  radius(circle)
  overflow hidden

  +tablet()
    width 21u
    height @width

  +desktop()
    width 25u
    height @width

.card
  align-items center
  margin-top 4u

  &.first
    margin-top 0
  
  +tablet()
    margin-top 0
    padding 2u
    max-width 50%
    justify-content center

  +desktop()
    max-width auto
    flex 1

.cardTitle
  font(xl)
  margin-top 3u
  font-weight 300
  color $textColor

.cardText
  font(l)
  margin-top 2u
  text-align center
  font-weight 300
  color $textColor

.btn
  margin-top 4u
  