.root
  align-items center
  padding 5u 2u 1u

  +tablet()
    padding 8u 6u 4u

  +wide()
    padding 12u 12u 7u

.right
  width 100%

.info
  +desktop()
    flex 1

.right
  margin-top 6u
  
  +desktop()
    margin-left 4u
    margin-top 0
    flex 1

.wrapper
  width 100%

  +desktop()
    flex-direction row