.root
  align-items center
  width 100%

  +desktop()
    flex-direction row-reverse

.imageWrapper
  radius(circle)
  border 1px solid #dddddd
  padding 1u

  +desktop()
    margin-left 8u

.image
  radius(circle)
  overflow hidden
  width 24u
  height @width 

  +tablet()
    width 32u
    height 32u

.content
  width 100%
  
  +desktop()
    width auto
    flex-shrink 1

.title
  margin-top 2u
  
  +tablet()
    margin-top 4u
    
  +desktop()
    align-items flex-start

.text
  text-align center
  font-weight 300
  font(l)
  margin-top 4u
  color #636363
    
  +desktop()
    text-align left

  +wide()
    font-size 18px
    line-height 30px

.btn
  margin-top 4u

  +desktop()
    align-self flex-start
