$text-color = rgba(255, 255, 255, 0.65)

.root
  text-align center
  margin-top 6u
  width 100%
  text-align left

  +desktop()
    text-align center

.description
  color $text-color
  font(s)

  &.link
    text-decoration-color $text-color
    text-decoration-style dotted
    text-decoration-line underline

  +desktop()
    text-align center
    font()

