$text-color = rgba(255, 255, 255, 0.65)

.root
  align-items flex-start
  
.title
  margin-top 2u
  align-items flex-start

  +desktop()
    margin-top 0

.text
  font-weight 300
  font(l)
  margin-top 4u
  color $text-color

  +desktop()
    font-weight normal

.button
  margin-top 4u
  color $text-color 
  border-color rgba(255, 255, 255, 0.35)
  align-self flex-start
