$text-color = rgba(255, 255, 255, 0.65)

.root
  align-items flex-start
  width 100%
  
.title
  align-items flex-start

.contacts
  margin-top 4u

.contact
  flex-direction row
  margin-top 2u
  width 100%

  &.first
    margin-top 0

  +desktop()
    line-height 30px

.contactTitle
  min-width 11u
  color #fff

  +desktop()
    font-size 16px

  +wide()
    font-size 18px

.value
  color $text-color
  flex-shrink 1
  flex-grow 1

  &.link
    text-decoration-color $text-color
    text-decoration-style dotted
    text-decoration-line underline

  +desktop()
    font-size 16px

  +wide()
    font-size 18px
