.root
  align-items center
  justify-content center
  height 8u
  background-color #f7f7f7
  width 100%
  flex-direction row
  display none

  +tablet()
    display flex

.item
  padding 0 3u
  height 5u
  border-radius 1u
  justify-content center
  margin-left 2u
  font-weight 300

  &.first
    margin-left 0

  &.selected
    background-color #fff

.label
  color #636363
  text-transform capitalize

  +wide()
    font-size 18px
